<!-- Hero Section -->
<div id="logo">Josef <span>&amp;</span> Paloma</div>
<section id="top" class="hero" data-type="parallax">
    <header id="main-menu">
        <div class="container">
            <div class="row">
                <div id="menu-logo" >J <span>&amp;</span> P</div>
                <nav id="navigation" class="column twelve">
                    <ul>
                        <li><a href="#logo">Home</a></li>
                        {% assign sorted_pages = site.pages | where:"lang",page.language | sort:"order" %}
                        {% for my_page in sorted_pages %}
                          {% if my_page.title %}
                          <li><a href="#{{ my_page.permalink }}">{{ my_page.title }}</a></li>
                          {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
                <a href="#" id="menu-toggle-wrapper">
                    <div id="menu-toggle"></div>
                </a>
            </div>
            <!-- close .ha-header-perspective -->
        </div>
        <!-- close grid container -->
    </header>
    <div class="overlay-dark"></div>
    <div class="container">
        <div class="hero-inner">
            <h1>We’re getting married.</h1>
            <div class="info">
                <div id="countdown"> 462 <span>days</span> 18 <span>hours</span> 46 <span>mins</span> 34 <span>secs</span></div>
                <span class="date">on June 3rd 2017, Florence, Italy</span>
            </div>
            <a href="#couple" class="mouse scrollTo"><i class="fa fa-long-arrow-down"></i></a>
        </div>
    </div>
</section>
<!-- #Hero Section Ends -->