<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section id="home-content" class="top-menu">

      {% assign sorted_pages = site.pages | where:"lang", page.language | sort:"order" %}
      {% for my_page in sorted_pages %}
        {% if my_page.title %}
        {{ my_page.content }}
        {% endif %}
      {% endfor %}

      {% include footer.html %}
    </section>


    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{{ 'assets/js/device.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ 'assets/js/imagesloaded.pkgd.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ 'assets/js/isotope.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ 'assets/js/jquery.isotope.sloppy-masonry.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ 'assets/js/jquery.scrollTo.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ 'assets/js/waypoints.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ 'assets/js/jquery.mb.YTPlayer.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ 'assets/js/jquery.magnific-popup.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ 'assets/js/wow.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ 'assets/js/retina.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ 'assets/js/custom.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  </body>

</html>
